{% extends 'base.html' %}
{% load nepali_date %}

{% block title %}
    Fiscal Year List
{% endblock title %}

{% block content %}
<div class="card mb-4">
    <div class="card-header bg-primary text-white fw-bold reduced-padding">
        ADVANCE FILTER
    </div>
    <div class="card-body mt-3">
        <form method="post" class="row g-3">
            {% csrf_token %}
            <div class="col-md-3">
                <label class="form-label">Start Date (BS)</label>
                <input type="text" class="form-control nep_date" id="start_date" name="start_date" 
                       value="{{ request.POST.start_date }}" placeholder="YYYY-MM-DD">
            </div>
            <div class="col-md-3">
                <label class="form-label">End Date (BS)</label>
                <input type="text" class="form-control nep_date" id="end_date" name="end_date" 
                       value="{{ request.POST.end_date }}" placeholder="YYYY-MM-DD">
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-primary me-2">
                    <i class="fas fa-filter me-1"></i> Filter
                </button>
                <a href="{% url 'fiscal_year:list' %}" class="btn btn-outline-secondary">
                    <i class="fas fa-redo me-1"></i> Reset
                </a>
            </div>
        </form>
    </div>
</div>


<div class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex align-items-center">
        <i class="fas fa-chart-line text-primary me-2 fs-4"></i>
        <h3 class="mb-0 fw-bold text-dark">Fiscal Year List</h3>
    </div>
    <a class="btn btn-outline-success" href="{% url 'fiscal_year:create' %}">
        <i class="fas fa-plus me-1"></i> Create Fiscal Year
    </a>
</div>

<div class="table-responsive text-nowrap">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr class="text_white">
                <th>S.N</th>
                <th>Fiscal Year</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Is Current ?</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for fiscal_year in fiscal_years %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ fiscal_year.fiscal_year }}</td>

                <td>{{ fiscal_year.start_date|to_nepali_date }}</td>
                <td>{{ fiscal_year.end_date|to_nepali_date }}</td>

                <td>
                    {% if fiscal_year.is_current %}
                        <span class="badge bg-info">{{ fiscal_year.get_is_current_display }}</span>
                    {% else %}
                        <span class="badge bg-warning">{{ fiscal_year.get_is_current_display }}</span>
                    {% endif %}
                </td>
                <td>
                    <span class="badge {% if fiscal_year.status == 'active' %}bg-success{% else %} bg-danger{% endif %}">
                        {{ fiscal_year.get_status_display }}
                    </span>
                </td>
                <td>
                    {% if fiscal_year.pk %}
                        <a class="btn btn-sm btn-outline-primary" href="{% url 'fiscal_year:edit' fiscal_year.pk %}">
                            <i class="fas fa-edit me-1"></i> Edit
                        </a>
                        <button type="button" class="btn btn-sm btn-outline-danger delete-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#confirmationModal"
                            data-url="{% url 'fiscal_year:delete' fiscal_year.pk %}"
                            data-title="Delete Fiscal Year">
                            <i class="fas fa-trash-alt me-1"></i> Delete
                        </button>
                    {% else %}
                        <span class="text-muted">No Actions Available</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="13" class="text-center text-muted">No Fiscal Year Available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     {% include "includes/pagination.html" %}

</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="confirmationLabel">Confirm Deletion</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this fiscal year?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger confirmButton">Yes, Delete</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block scripts %}
  <script>
    $(document).ready(function() {
      $(".delete-btn").on('click', function () {
        var url = $(this).data('url');
        var title = $(this).data('title');
        
        var modal = $("#confirmationModal");
        modal.find('.modal-title').text(title);
        modal.find('.confirmButton').attr('href', url);
      });
    });
  </script>
{% endblock %}


  