
<aside id="layout-menu" class="layout-menu menu-vertical bg-white shadow-sm border-end">
    <div class="brand d-flex flex-column align-items-center">
        <div class="">
            <img src="/static/assets/img/logo.png" style="width: 100px;height: auto;"><br>
        </div>
        <div class="">
            <span class="span-red">Gaaubesi</span> <span class="span-blue">HR</span>
        </div>
    </div>

    <ul class="menu-inner list-unstyled py-3">
        <!-- Dashboard -->
        <li class="menu-item mb-2">
            <a href="/dashboard" class="menu-link d-flex align-items-center px-3 py-2 rounded text-white fw-medium">
                <i class="menu-icon fas fa-home fs-5 me-2 text-white"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Employee -->
        <li class="menu-item mb-2 {% if current_url == 'user:employee_list'%}active{% endif %}">
            <a href="{% url 'user:employee_list' %}" class="menu-link {% if current_url == 'user:employee_list' %}bg-primary text-white fw-bold{% else %}text-white{% endif %}">
                <i class="menu-icon fas fa-users fs-5 me-2 text-white"></i>
                <span>Employees</span>
            </a>
        </li>

        <li class="menu-item mb-2 {% if roster_status %}active{% endif %}">
            <a href="javascript:void(0)" class="menu-link menu-toggle text-white" aria-expanded="{% if roster_status %}true{% else %}false{% endif %}">
                <i class="menu-icon fas fa-calendar-alt"></i>
                <span> Roster </span>
            </a>
            <ul class="menu-sub {% if roster_status %} collapse in {% endif %}">
                <li class="menu-item {% if current_url == 'roster:shift_list'%}active{% endif %}">
                    <a href="{% url 'roster:shift_list' %}" class="menu-link {% if current_url == 'roster:shift_list' %}bg-primary text-white fw-bold{% else %}text-white{% endif %}">
                        <i class="menu-icon fas fa-business-time fs-5 me-2"></i>
                        Shifts
                    </a>
                </li>
            </ul>
            <ul class="menu-sub {% if roster_status %} collapse in {% endif %}">
                <li class="menu-item {% if current_url == 'roster:roster_list'%}active{% endif %}">
                    <a href="{% url 'roster:roster_list' %}" class="menu-link {% if current_url == 'roster:roster_list' %}bg-primary text-white fw-bold{% else %}text-white{% endif %}">
                        <i class="menu-icon fas fa-business-time fs-5 me-2"></i>
                        Roster
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item mb-2 {% if leave_status %}active{% endif %}">
            <a href="javascript:void(0)" class="menu-link menu-toggle text-white" aria-expanded="{% if leave_status %}true{% else %}false{% endif %}">
                <i class="menu-icon fa fa-clipboard-list"></i>
                <span> Leave </span>
            </a>
            <ul class="menu-sub {% if leave_status %} collapse in {% endif %}">
                
                <li class="menu-item {% if current_url == 'leave:leave_type_list'%}active{% endif %}">
                    <a href="{% url 'leave:leave_type_list' %}" class="menu-link {% if current_url == 'leave:leave_type_list' %}bg-primary text-white fw-bold{% else %}text-white{% endif %}">
                        <i class="menu-icon fa fa-layer-group fs-5 me-2"></i>
                        Leave Types
                    </a>
                </li>

                <li class="menu-item {% if current_url == 'leave:leave_list'%}active{% endif %}">
                    <a href="{% url 'leave:leave_list' %}" class="menu-link {% if current_url == 'leave:leave_list' %}bg-primary text-white fw-bold{% else %}text-white{% endif %}">
                        <i class="menu-icon fa fa-umbrella-beach fs-5 me-2"></i>
                        Leave
                    </a>
                </li>

                <li class="menu-item {% if current_url == 'leave:employee_leave_report'%}active{% endif %}">
                    <a href="{% url 'leave:employee_leave_report' %}" class="menu-link {% if current_url == 'leave:employee_leave_report' %}bg-primary text-white fw-bold{% else %}text-white{% endif %}">
                        <i class="menu-icon fa fa-layer-group fs-5 me-2"></i>
                        Report
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item mb-2 {% if attendance_status %}active{% endif %}">
            <a href="javascript:void(0)" class="menu-link menu-toggle text-white" aria-expanded="{% if attendance_status %}true{% else %}false{% endif %}">
                <i class="menu-icon fa fa-calendar-check"></i>
                <span> Attendance </span>
            </a>
            <ul class="menu-sub {% if attendance_status %} collapse in {% endif %}">
                <li class="menu-item  {% if current_url == 'attendance:request_list'%}active{% endif %}">
                <a href="{% url 'attendance:request_list' %}" class="menu-link {% if current_url == 'attendance:request_list' %}bg-primary text-white fw-bold{% else %}text-white{% endif %}">
                    <i class="menu-icon fa fa-user-clock fs-5 me-2"></i>
                    Requests
                </a>
                </li>
                
            </ul>
        </li>

        <li class="menu-item mb-2 {% if current_url == 'fiscal_year:list'%}active{% endif %}">
            <a href="{% url 'fiscal_year:list' %}" class="menu-link {% if current_url == 'fiscal_year:list' %}bg-primary text-white fw-bold{% else %}text-white{% endif %}">
                <i class="menu-icon fas fa-chart-line fs-5 me-2 text-white"></i>
                <span>Fiscal Years</span>
            </a>
        </li>

        <li class="menu-item mb-2 {% if current_url == 'department:department_list'%}active{% endif %}">
            <a href="{% url 'department:department_list' %}" class="menu-link {% if current_url == 'department:department_list' %}bg-primary text-white fw-bold{% else %}text-white{% endif %}">
                <i class="menu-icon fas fa-building fs-5 me-2 text-white"></i>
                <span>Departments</span>
            </a>
        </li>
    </ul>
</aside>
