
<aside id="layout-menu" class="layout-menu menu-vertical bg-white shadow-sm border-end">
    <div class="brand d-flex flex-column align-items-center">
        <div class="">
            <img src="/static/assets/img/logo.png" style="width: 100px;height: auto;"><br>
        </div>
        <div class="">
            <span class="span-red">Gaaubesi</span> <span class="span-blue">HR</span>
        </div>
    </div>

    <ul class="menu-inner list-unstyled py-3">
        <!-- Dashboard -->
        <li class="menu-item mb-2">
            <a href="/" class="menu-link d-flex align-items-center px-3 py-2 rounded text-white fw-medium">
                <i class="menu-icon fas fa-home fs-5 me-2 text-white"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Employee -->
        <li class="menu-item mb-2">
            <a href="{% url 'user:employee_list' %}" class="menu-link d-flex align-items-center px-3 py-2 rounded text-white fw-medium">
                <i class="menu-icon fas fa-users fs-5 me-2 text-white"></i>
                <span>Employees</span>
            </a>
        </li>

        <li class="menu-item mb-2">
            <a href="javascript:void(0)" class="menu-link menu-toggle text-white">
                <i class="menu-icon fas fa-calendar-alt"></i>
                <span> Roster </span>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="{% url 'roster:shift_list' %}" class="menu-link text-white">
                        <i class="menu-icon fas fa-business-time fs-5 me-2"></i>
                        Shifts
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item mb-2">
            <a href="javascript:void(0)" class="menu-link menu-toggle text-white">
                <i class="menu-icon fa fa-clipboard-list"></i>
                <span> Leave </span>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="{% url 'leave:leave_type_list' %}" class="menu-link text-white">
                        <i class="menu-icon fa fa-layer-group fs-5 me-2"></i>
                        Leave Types
                    </a>
                </li>

                <li class="menu-item">
                    <a href="{% url 'leave:leave_list' %}" class="menu-link text-white">
                        <i class="menu-icon fa fa-umbrella-beach fs-5 me-2"></i>
                        Leaves
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item mb-2">
            <a href="javascript:void(0)" class="menu-link menu-toggle text-white">
                <i class="menu-icon fa fa-calendar-check"></i>
                <span> Attendance </span>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                <a href="{% url 'attendance:request_list' %}" class="menu-link text-white">
                    <i class="menu-icon fa fa-user-clock fs-5 me-2"></i>
                    Requests
                </a>
                </li>
                
            </ul>
        </li>

        <li class="menu-item mb-2">
            <a href="{% url 'fiscal_year:list' %}" class="menu-link d-flex align-items-center px-3 py-2 rounded text-white fw-medium">
                <i class="menu-icon fas fa-chart-line fs-5 me-2 text-white"></i>
                <span>Fiscal Years</span>
            </a>
        </li>
    </ul>
</aside>
