{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}
    Create Employee
{% endblock title%}

{% block content %}
    <div class="row">
        <div class="col-xxl">
            <!-- Align Request List button to right or left -->
            <div class="mb-3 d-flex justify-content-start">
                <a class="btn btn-outline-info btn-sm" href="{% url 'user:employee_list' %}">
                    Employee List
                </a>
            </div>

            <!-- Form Card -->
            <div class="card mb-6">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Create Employee</h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}

                        {{ user_form|crispy }}
                        {{ profile_form|crispy }}

                        <div class="row justify-content-center">
                            <div class="col-sm-6 text-center">
                                <button type="submit" class="btn btn-success">Save</button>
                                <a href="{% url 'user:employee_list' %}" class="btn btn-warning">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% comment %} <div id="attendance" class="modal fade in" role="dialog">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content info-modal-content">
                <div class="modal-header info-modal-header success">
    
                </div>
                <div class="modal-body text-center">
                    <h4>Request Leave</h4>
                    <div class="modal-body">
                        <p>Are you sure you want to proceed?</p>
                      </div>
                      <p id="id_two_or_more"></p>
                    <a onclick="closemodal('success')">
                        <button class="btn btn-danger margin-top5" data-dismiss="modal"><span>Close</span> <i
                                class="fa fa-times"></i></button>
                    </a>
                        <button class="btn btn-success margin-top5" onclick="submitForm()" id="attendance_btn"><span>Request</span> 
                                <i class="fa fa-check"></i></button>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
{% endblock content %}

{% comment %} {% block scripts %}
    <script>
        $("#attendance").on('show.bs.modal', function () {
        });

        function submitForm(){
            $('#attendance_form').submit();
            $('#attendance_btn').attr("disabled", true);
        }
    </script>
{% endblock scripts %} {% endcomment %}
