{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}
    Edit Employee
{% endblock title %}

{% block content %}
    <a class="btn btn-success-outline" href="{% url 'user:employee_list'%}">List Employee</a>

    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-6">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Edit Employee</h5>
            </div>
            <div class="card-body">
                {% comment %} <form method="POST" id="attendance_form"> {% endcomment %}
                <form method="POST">
                    {% csrf_token %}

                    {{ user_form|crispy }}
                    {{ profile_form|crispy }}

                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

{% endblock content %}