{% load static %}
<!DOCTYPE html>
<html
    lang="en"
    class="light-style layout-menu-fixed layout-wide"
    dir="ltr"
    data-theme="theme-default"
    data-assets-path="../assets/"
    data-template="vertical-menu-template-free">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <title>{% block title %} GBL {% endblock title %}</title>
        <meta name="description" content="" />
        <!-- Favicon -->
        {% comment %} <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" /> {% endcomment %}
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
        <!-- Core CSS -->
        <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
        <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
        <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
        <link rel="stylesheet" href="{% static 'site.css' %}" />
        <!-- Vendors CSS -->
        <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/notification/toastr.css' %}" />

        <link rel="stylesheet" href="{% static 'lib/bootstrap-datatable/datatables.min.css' %}" />
        <link rel="stylesheet" href="{% static 'lib/select2/select2.min.css' %}">
        <link href="https://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v4.0.4.min.css" rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">


        <!-- Page CSS -->
        <!-- Helpers -->
        <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
        <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
        <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
        <script src="{% static 'assets/js/config.js' %}"></script>
      
        {% block styles %}{% endblock styles %}
    </head>
    <body>

        {% block container %}
            <!-- Layout wrapper -->
            <div class="layout-wrapper layout-content-navbar">
                <div class="layout-container">

                    <!-- Menu -->
                    {% block sidebar %}
                        {% include "includes/sidebar.html" %}
                    {% endblock sidebar %}
                    <!-- / Menu -->

                    <!-- Layout container -->
                    <div class="layout-page">
                        
                        <!-- Navbar -->
                        {% block navbar %}
                            <nav
                                class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                                id="layout-navbar">
                                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                    <i class="bx bx-menu bx-sm"></i>
                                    </a>
                                </div>
                                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                                    <!-- Search -->
                                    <div class="navbar-nav align-items-center">
                                        <div class="nav-item d-flex align-items-center">
                                            <i class="bx bx-search fs-4 lh-0"></i>
                                            <input
                                                type="text"
                                                class="form-control border-0 shadow-none ps-1 ps-sm-2"
                                                placeholder="Search..."
                                                aria-label="Search..." />
                                        </div>
                                    </div>
                                    <!-- /Search -->
                                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                                        <!-- Place this tag where you want the button to render. -->
                                        <!-- User -->
                                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <div class="avatar avatar-online">
                                                    <span class="avatar-initial rounded-circle bg-label-secondary">GBL</span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <div class="d-flex">
                                                            <div class="flex-shrink-0 me-3">
                                                                <div class="avatar avatar-online">
                                                                    <div class="avatar avatar-online">
                                                                        <span class="avatar-initial rounded-circle bg-label-secondary">GBL</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <span class="fw-medium d-block">{{request.user.username}}</span>
                                                                {% comment %} <small class="text-muted">Admin</small> {% endcomment %}
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <div class="dropdown-divider"></div>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                    <i class="bx bx-user me-2"></i>
                                                    <span class="align-middle">My Profile</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                    <i class="bx bx-cog me-2"></i>
                                                    <span class="align-middle">Settings</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <div class="dropdown-divider"></div>
                                                </li>
                                                <li>
                                                    <form action="{% url 'logout' %}" method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="dropdown-item">Logout</button>
                                                    </form>
                                                    {% comment %} <a class="dropdown-item" href="{% url "logout" %}">
                                                    <i class="bx bx-power-off me-2"></i>
                                                    <span class="align-middle">Log Out</span>
                                                    </a> {% endcomment %}
                                                </li>
                                            </ul>
                                        </li>
                                        <!--/ User -->
                                    </ul>
                                </div>
                            </nav>
                        {% endblock navbar %}
                        
                        <!-- / Navbar -->

                        <!-- Content wrapper -->
                        <div class="content-wrapper">
                            <!-- Content -->
                            <div class="container-fluid flex-grow-1 container-p-y">

                                {% block breadcrumb %}
                                    <nav aria-label='breadcrumb'>
                                        <ol class='breadcrumb breadcrumb-style1 mb-3'>
                                            <li class='breadcrumb-item'>
                                                <a href='/'>Home</a>
                                            </li>
                                            <li class='breadcrumb-item'>
                                                <a href='/{{ request.resolver_match.app_name }}'>{{ request.resolver_match.app_name }}</a>
                                            </li>
                                            <li class='breadcrumb-item  text-primary active'>
                                                <a href=''>{{ request.resolver_match.url_name }}</a>
                                            </li>
                                        </ol>
                                    </nav>
                                {% endblock breadcrumb %}

                                <div class="row">
                                    <div class="col-lg-12 mb-4 order-0">
                                        <div class="card p-3">
                                            {% block content %}
                                            {% endblock content %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / Content -->
                            <!-- Footer -->
                            <footer class="content-footer footer bg-footer-theme">
                                <div class="container-fluid d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                                    <div class="mb-2 mb-md-0">
                                        ©
                                        <script>
                                            document.write(new Date().getFullYear());
                                        </script>
                                        ,
                                        <a href="" target="_blank" class="footer-link fw-medium">GBL</a>
                                    </div>
                                    <div class="d-none d-lg-inline-block">
                                        <a href="" class="footer-link me-4" target="_blank">License</a>
                                    </div>
                                </div>
                            </footer>
                            <!-- / Footer -->
                            <div class="content-backdrop fade"></div>
                        </div>
                        <!-- Content wrapper -->

                    </div>
                    <!-- / Layout page -->
                </div>
                <!-- Overlay -->
                <div class="layout-overlay layout-menu-toggle"></div>
            </div>
        {% endblock container %}

        <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
        <!-- / Layout wrapper -->
        <!-- Core JS -->
        <!-- build:js assets/vendor/js/core.js -->
        <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
        <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
        <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
        <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
        <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
        <script src="{% static 'assets/notification/toastr.min.js' %}"></script>
        <script src="{% static 'lib/bootstrap-datatable/datatables.min.js' %}"></script>
        <script src="{% static 'lib/select2/select2.min.js' %}"></script>
        <script src="{% static 'assets/validation/jquery.validate.min.js' %}"></script>
        <script src="https://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/js/nepali.datepicker.v4.0.4.min.js" type="text/javascript"></script>

        <!-- endbuild -->
        <!-- Vendors JS -->
        <!-- Main JS -->
        <script src="{% static 'assets/js/main.js' %}"></script>
        <script src="{% static 'site.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>

        <!-- Page JS -->
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        {% include "messages.html" %}

        {% block scripts %}{% endblock scripts %}
    </body>
</html>