{% extends "base.html" %}

{% block title %}GBL{% endblock title %}
{% comment %} context = {
    'title': 'Dashboard',
    'total_vendors': UserProfile.objects.filter(role="Vendor", user__is_active=True).count(),
    'vendors_remaining_docs': UserProfile.objects.filter(role="Vendor", user__is_active=True).exclude(user__profile__document__isnull=False).count(),
} {% endcomment %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="pt-2">Hello Dashboard!
                        You are logged in.
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Vendors</h5>
                            {% comment %} <a href="{% url 'documents:list' %}">
                                <p class="card-text">{{ total_vendors }}</p>
                            </a> {% endcomment %}
                            <p class="card-text">10</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vendors without contracts</h5>
                            {% comment %} <a href="{% url 'documents:vendors_without_contracts' %}">
                                <p class="card-text">{{ vendors_remaining_docs }}</p>
                            </a> {% endcomment %}
                            <p class="card-text">5</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            {% comment %} <h5 class="card-title text-right">Please click below to Checkin</h5> {% endcomment %}
                            {% if request.user.attendance_status_button == 'CheckIn' %}
                                {% if btn_status == 'show' %}
                                    <div class="d-flex justify-content-center">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#checkinmodal" class="btn btn-pill-left btn-lg  btn-danger">CheckIn</a>
                                    </div>
                                {% else %}
                                    <div class="d-flex justify-content-center">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="" class="btn btn-pill-left btn-lg  btn-danger">CheckIn</a>
                                    </div>
                                {% endif %}
                            {% elif request.user.attendance_status_button == 'CheckOut' %}
                                {% if btn_status == 'show' %}
                                    <div class="d-flex justify-content-center">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#checkoutmodal" class="btn btn-pill-left btn-lg  btn-danger">CheckOut</a>
                                    </div>
                                {% else %}
                                    <div class="d-flex justify-content-center">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="" class="btn btn-pill-left btn-lg  btn-danger">CheckOut</a>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="d-flex justify-content-center">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#alreadyCheckedOutModal" class="btn btn-pill-left btn-lg  btn-danger">Checked Out</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% comment %} <div class="row">
                    <div class="col">
                        {% if request.user.attendance_status_button == "CheckOut" %}
                            <h5 class="card-title text-right">Please click below to {{ request.user.attendance_status_button }}</h5>
                            <div class="d-flex justify-content-end">
                                <a href="#" data-toggle="modal" data-target="#checkoutmodal" class="btn btn-pill-left btn-lg  btn-danger">CheckOut</a>
                            </div>
                        {% elif request.user.attendance_status_button == "CheckIn" %}
                        <h5 class="card-title text-left">Please click below to {{ request.user.attendance_status_button }}</h5>
                            <div class="d-flex justify-content-start">
                                <a href="#" data-toggle="modal" data-target="#checkinmodal" class="btn btn-pill-right btn-lg btn-success">CheckIn</a>
                            </div>
                        {% elif request.user.attendance_status_button == "Leave" %}
                            <div class="d-flex justify-content-left">
                                <a class="btn btn-pill-right btn-lg btn-danger">On leave</a>
                            </div>
                        {% elif request.user.attendance_status_button == "Roaster Leave" %}
                            <div class="d-flex justify-content-left">
                                <a class="btn btn-pill-right btn-lg btn-danger">On Roaster Leave</a>
                            </div>
                        {% else %}
                            <div class="d-flex justify-content-left">
                                <a class="btn btn-pill-right btn-lg btn-info">Already CheckedOut</a>
                            </div>
                        {%endif%}
                    </div>                
                </div> {% endcomment %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="checkinmodal" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationLabel">Daily Attendance</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to Check In?</p>
                    <small><em>Note: Allow location access to checkin.</em></small>
                </div>
                <div class="modal-footer">
                    <form method="POST" action="{% url 'attendance:checkin' %}" id="checkin_form">
                        {% csrf_token %}
                        <input type="hidden" name="checkinlat" id="checkinlat">
                        <input type="hidden" name="checkinlon" id="checkinlon">
                        {% comment %} <button class="btn btn-primary confirmButton" id="checkin_btn" type="submit" disabled>
                            {{ request.user.attendance_status_button }}
                        </button> {% endcomment %}
                        <button class="btn btn-primary confirmButton" id="checkin_btn" type="submit" disabled>
                            Check In
                        </button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="checkoutmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationLabel">Daily Attendance</h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to Check Out?</p>
                    <small><em>Note: Allow location access to checkout.</em></small>
                </div>
                <div class="modal-footer">
                    <form method="POST" action="{% url 'attendance:checkout' %}" id="checkout_form">
                        {% csrf_token %}
                        <input type="hidden"  name="checkoutlat" id="checkoutlat">
                        <input type="hidden"  name="checkoutlon" id="checkoutlon">
                        <button class="btn btn-primary confirmButton" id="checkout_btn"
                                type="submit" disabled>Check Out</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="alreadyCheckedOutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% comment %} <div class="modal-header">
                    <h5 class="modal-title" id="confirmationLabel">Daily Attendance</h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div> {% endcomment %}
                <div class="modal-body">
                    <h5>Already Checked Out !!!</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $("#checkinmodal").on('shown.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var url = button.data('url')
            var modal = $(this)
            getLocation()
        })

        $("#checkoutmodal").on('shown.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var url = button.data('url')
            var modal = $(this)
            getLocation()
        })

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                console.log("err")
            }
        }

        function showPosition(position) {
            console.log(position.coords.latitude, position.coords.longitude)
            $('#checkinlat').val(position.coords.latitude)
            $('#checkinlon').val(position.coords.longitude)
            $('#checkoutlat').val(position.coords.latitude)
            $('#checkoutlon').val(position.coords.longitude)
            $('#checkin_btn').removeAttr('disabled')
            $('#checkout_btn').removeAttr('disabled')
        }

        $("#checkin_form" ).submit(function() {
            $('#checkin_btn').attr("disabled", true);
        })
        
    </script>
{% endblock %}

